.venv
.atl/*

# Python environment
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
.env
.python-version
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
# macOS
.DS_Store
